<div class="row">
  <!-- begin col-12 -->
  <div class="col-md-12">
    <!-- begin panel -->
    <div class="panel panel-primary">
      <div class="panel-heading">
        <div class="row">
          <h4 style="text-align:center;"> En breve terminaremos de recabar la informacion solo responde estas preguntas y podremos procesar tu solicitud </h4>
      </div>
      <div class="panel-body">
        <%= render "form" %>
      </div>
    </div>
    <!-- end panel -->
  </div>
  <!-- end col-12 -->
</div>
<!-- end row -->

<!-- begin row -->
<div class="row">
  <div class="col-md-12">

      
  </div>
  <!-- end col-12 -->
</div>
<!-- end row -->
